body {
    font-family: helvetica, arial, sans-serif;
    /* デフォルトで上部に設定されているマージンを削除 */
    margin: 0;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#game-page {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "l_team main r_team"
        "left main right";
}

.title {
    background-color: #beeece;
    font-size: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* テキストの縁取り */
    text-shadow: 
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white;
}
#left-title {
    grid-area: l_team;
}
#right-title {
    grid-area: r_team;
}

#left-container {
    grid-area: left;
    justify-self: start;
}

#right-container {
    grid-area: right;
    justify-self: end;
}

.container {
    background-color: #beeece;
    /* 親グリッドの行に合わせて伸縮するよう固定高さを外す */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    /* 4行を game-page の高さに合わせるため、各行の高さを計算して指定 */
    grid-template-rows: repeat(4, calc(85vh / 4));
    box-sizing: border-box;
}

.item-holder {
    /* シンプルなセルラッパーに変更 */
    display: block;
    width: 100%;
    height: 100%;
    position: relative; /* 追加: 子要素の absolute の基準にする */
}

.item {
    position: absolute; /* 変更: top/left で直接動かせるようにする */
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* アスペクト比を保ってセルに収める */
    display: block;
    margin: 0;
    z-index: 2;
}

#game-lines {
    grid-area: main;
    height: 95vh;
}
#line-top {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    top: 40%;
    left: 20%;
}
#line-end {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
        bottom: 40%;
    left: 20%;
}
#line-left {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    bottom: 0%;
    left: 45%;
}
#line-right {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    bottom: 0%;
    right: 45%;
}

#line-horizontal-1 {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    top : 0%;
    left: 0%;
}
#line-horizontal-2 {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    top: 0%;
    right: 0%;
}
#line-horizontal-3 {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
#line-horizontal-4 {
    height: 2%;
    width: 60%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
#line-vertical-1 {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    top: 0%;
    left: 0%;
}
#line-vertical-2 {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    top: 0%;
    left: 19.5%;
}
#line-vertical-3 {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    right: 19.5%;
}
#line-vertical-4 {
    height: 100%;
    width: 1%;
    background: #dfa608;
    border-radius: 1rem;
    position: absolute;
    right: 0%;
}